.Chart_Container {
    height: 36vh;
}

/* 차트 제목 */
.Chart_Container > div:first-child {
    font-weight: 500;
    font-size: 16px;
    color: #25262b;
    text-align: center;
    padding: 2vh 0 0 0;
}

/* 파이 차트 */
.Chart_Container .Pie_Chart {
    margin: 4vh 0 0 0;
    width: 16vw;
}

.Chart_Container > div:nth-child(2) {
    display: flex;
    justify-content: center;
}

/* 게이지 차트 */
.Chart_Container .Gauge_Chart {
    margin: 2vh 0 0 0;
    width: 100%;
    height: 50%;
}

/* 게이지 차트 설명 */
.Chart_Container > div:nth-child(3) {
    text-align: center;
    margin: 1vh 0 2vh 0;
}

.Chart_Container > div:nth-child(4) {
    width: fit-content;
    margin: 1vh auto 0 auto;
}

/* 게이지 차트 버튼 */
.Chart_Container > div:nth-child(4) > button {
    width: 64px;
    height: 24px;
    font-size: 12px;
    margin: 0 0.5vw 0 0.5vw;
    color: #c1c1c1;
    border: 1px solid #c1c1c1;
    border-radius: 12px;
    background-color: transparent;
    cursor: pointer;
}

.Chart_Container > div:nth-child(4) > button:hover,
.Chart_Container > div:nth-child(4) > button:focus {
    border: none;
    color: #ffffff;
    background-color: #8b8b8b;
}

/* 대시보드 */
.Dashboard_Container {
    display: grid;
    height: 88vh;
    margin: auto 0;
    grid-template-columns: 36vw 36vw;
    justify-content: right;
    align-content: center;
    justify-items: center;
    background-color: #F4F5FB;
}

.Dashboard_Item {
    width: 32vw;
    height: 36vh;
    margin: 2vh 2vw 2vh 2vw;
    padding: 1vh 1vw 1vh 1vw;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
