th {
    font-weight: normal;
}

body {
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

/******************************************************************/
/* 오퍼 시트 *******************************************************/
/******************************************************************/
.Offer_Sheet {
    display: grid;
    margin: 0 0 36px 0;
}

/* 오퍼시트 전체 */
.Offer_Sheet > div:first-child {
    width: 95vw;
    height: max-content;
    margin: 0 auto 24px auto;
    border: solid #c1c1c1 1px;
    border-radius: 20px;
    background-color: #ffffff;
}

/* 행 추가, 행 삭제, 행 복사 */
.Offer_Sheet > div:first-child > div:nth-child(2) > div:first-child {
    display: grid;
    grid-template-columns: 108px 108px 96px;
    justify-content: right;
    margin: 24px 40px 16px 0;
}

/* 고객사 카테고리 + Input */
.Offer_Sheet > div:first-child > div:nth-child(2) > div:nth-child(3) {
    display: grid;
    width: 85vw;
    grid-template-columns: 180px 1fr;
    margin: 16px auto 0 auto;
}

/* 오퍼시트 카테고리 + 오퍼 테이블 */
.Offer_Sheet > div:first-child > div:nth-child(2) > div:nth-child(4) {
    width: 85vw;
    grid-template-rows: 28px 144px;
    margin: 16px auto 0 auto;
}

/* 오퍼시트 테이블 하단 데이터 */
.Offer_Sheet > div:first-child > div:nth-child(2) > div:nth-child(5) {
    display: grid;
    width: 85vw;
    margin: 16px auto 0 auto;
    grid-template-rows: 48px 72px;
    grid-template-columns: 1.2fr 1fr 1fr;
}

/* Price Term, Payment Terms */
.Offer_Sheet > div:first-child > div:nth-child(2) > div:nth-child(5) > div {
    display: grid;
    grid-template-columns: 180px 1fr;
}
/******************************************************************/
/* 오퍼 시트에 포함되는 오퍼 테이블 **********************************/
/******************************************************************/
.Offer_Table {
    width: 85vw;
    height: max-content;
    margin: 16px 0 0 0;
    border: solid 1px #c1c1c1;
    border-radius: 12px;
}

.Offer_Table > div:first-child {
    text-align: center;
    overflow-x: auto;
    padding: 12px 0 12px 0;
}

.Offer_Table table {
    border-collapse: separate;
    padding: 0 0 0 8px;
}

.Offer_Table thead {
    color: #03507d;
}

.Offer_Table tbody {
    line-height: 8px;
}

.Offer_Table select {
    color: #03507d;
    border: solid 1px #c1c1c1;
    border-radius: 8px;
    padding: 4px;
}

/* Scroll Bar */
.Offer_Table > div::-webkit-scrollbar {
    display: block;
    height: 8px;
}

/* Scroll Bar Thumb */
.Offer_Table > div::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 10px;
}

/******************************************************************/
/* 오퍼 시트에 포함되는 오퍼 테이블 외 정보 **************************/
/******************************************************************/
.Offer_Sheet_Terms {
    display: grid;
    grid-template-columns: 144px 1fr;
}

/* CIF */
.Offer_Sheet_Terms > div:first-child select {
    width: 120px;
}

/* Busan Seaport */
.Offer_Sheet_Terms > div:nth-child(2) select {
    width: 188px;
}

.Offer_Sheet_Terms > div:first-child select,
.Offer_Sheet_Terms > div:nth-child(2) select {
    color: #03507d;
    border: solid 1px #c1c1c1;
    border-radius: 8px;
    padding: 4px;
}

/******************************************************************/
/* InquiryNewForm, BasicInfoForm **********************************/
/******************************************************************/
.Wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    padding: 2px 35px 2px 35px;
}

.inputWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #c1c1c1;
    border-radius: 8px;
    background-color: #ffffff;
    height: 85%;
    padding: 3px;
    width: 100%;
}

.Form_Label {
    color: #000000;
    font-weight: 500;
    font-size: 18px;
    margin: 0 0 0 20px;
}

._Input {
    border: none;
    background-color: #ffffff;
    text-align: right;
    font-size: 20px;
    color: #000000;
    font-weight: bolder;
    margin: 0 20px 0 0;
    width: 60%;
    outline: none;
}

._TextArea {
    display: grid;
    place-items: center;
    border: 1px solid #c1c1c1;
    font-size: 17px;
    color: #49454f;
    width: 96%;
    height: 160px;
    border-radius: 12px;
    padding: 10px;
    margin: 0 20px 0 20px;
}

.buttonWrapper {
    display: flex;
    justify-content: flex-end;
    margin: 0 20px 15px 0;
}

/******************************************************************/
/* InquiryHistoryForm, LineItem ***********************************/
/******************************************************************/
.LineItemColumn {
    display: grid;
    text-align: center;
    grid-template-columns: 0.15fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    color: #7b7b7b;
    background-color: #e3e3e3;
    font-weight: 800;
    border: 1px solid #c1c1c1;
    border-radius: 9px;
    padding: 8px;
    margin: 20px;
    font-size: 20px;
}

.LineItemRow {
    display: grid;
    text-align: center;
    grid-template-columns: 0.15fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    color: #7b7b7b;
    background-color: #ffffff;
    font-weight: 800;
    border: 1px solid #c1c1c1;
    border-radius: 9px;
    padding: 8px;
    margin: 20px;
    font-size: 20px;
    align-items: center;
}

.LineItemInput {
    background-color: #ffffff;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    color: #444444;
    font-weight: 400;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #c1c1c1;
    border-radius: 8px;
}

.LineItemGetColumn {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    color: #7b7b7b;
    background-color: #e3e3e3;
    font-weight: 800;
    border: 1px solid #c1c1c1;
    border-radius: 9px;
    padding: 8px;
    margin: 20px;
    font-size: 20px;
}

.LineItemGetGrid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.LineItemGetRow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9%, 1fr));
    gap: 10px;
    width: 100%;
}

.LineItemGetInput {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    background-color: #f3faff;
    color: #00304b;
    height: 25px;
    box-sizing: border-box;
    padding: 0.2rem;
    width: 100%;
}

._none {
    display: none;
}

._checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #c1c1c1;
    border-radius: 7px;
}

._checkbox:checked {
    background-color: #03507d;
    border: 1px solid #c1c1c1;
    border-radius: 7px;
}

/******************************************************************/
/* SalesInfoForm **************************************************/
/******************************************************************/
.SalesInfoItem {
    display: grid;
    text-align: center;
    grid-template-columns: 0.8fr 1fr;
    gap: 10px;
    width: 26%;
    color: #7b7b7b;
    background-color: #e3e3e3;
    font-weight: 800;
    border: 1px solid #c1c1c1;
    border-radius: 9px;
    padding: 8px;
    margin: 20px 20px 10px 20px;
    font-size: 20px;
}

.SalesInfoRow {
    display: grid;
    text-align: center;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 15px;
    width: 26%;
    color: #7b7b7b;
    background-color: #ffffff;
    font-weight: 800;
    border: 1px solid #c1c1c1;
    border-radius: 9px;
    padding: 8px;
    margin: 20px 20px 10px 20px;
    font-size: 20px;
}

.ReviewWrapper {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

/******************************************************************/
/* QualityReviewTextForm ******************************************/
/******************************************************************/
.QualityItemColumn {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    gap: 0;
    color: #000000;
    font-weight: 800;
    background-color: #ffffff;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    font-size: 1rem;
    margin: 15px 0 0 0;
}

.QualityItemColumn > div {
    padding: 0.5rem;
    box-sizing: border-box;
}

.QualityItemRow {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    gap: 0;
    color: #7b7b7b;
    background-color: #ffffff;
    font-weight: 800;
}

.QualityItemRow > div {
    padding: 0.5rem;
    box-sizing: border-box;
}

.QualityItemInput {
    background-color: #ffffff;
    text-align: center;
    font-size: 1rem;
    color: #444444;
    font-weight: 500;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
}

/******************************************************************/
/* FileForm, FileFormItem, FileGetItem, FileItem ******************/
/******************************************************************/
.FileColumn {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 8fr;
    gap: 10px;
    color: #7b7b7b;
    background-color: #e3e3e3;
    font-weight: 800;
    border: 1px solid #c1c1c1;
    border-radius: 9px;
    padding: 8px;
    margin: 20px 20px 10px 20px;
    font-size: 20px;
}

._FileItem {
    display: grid;
    text-align: left;
    grid-template-columns: 1fr;
    color: #7b7b7b;
    background-color: #ffffff;
    font-weight: 400;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
}

._FileName {
    color: #007aff;
    font-weight: 600;
    font-size: 16px;
    margin: 0 0 0 30px;
}

._FileNameColumn {
    color: #444444;
    font-weight: 800;
    font-size: 16px;
    margin: 0 30px 0 0;
}

/******************************************************************/
/* Header, organisms/inquiry-form 폴더의 컴포넌트 ******************/
/******************************************************************/
.Container {
    display: flex;
    justify-content: center;
    /* margin: 0 auto 0 auto; */
}

.Sheet {
    width: 100vw;
    border: solid #c1c1c1 1px;
    border-radius: 7px;
    margin: 0 0 6vh 0;
}

._ToggleOpen {
    display: flex;
    align-content: center;
    padding: 1vw 1vw 1vw 1vw;
    background-color: #03507d;
}

._ToggleClose {
    display: flex;
    align-content: center;
    padding: 1vw 1vw 1vw 1vw;
    background-color: #e3f5fe;
}

.Container .Opend {
    height: max-content;
    border-radius: 0 0 20px 20px;
    background-color: #ffffff;
    padding: 4vh 5vh 4vh 5vh;
}

.Container ._Category {
    display: flex;
    justify-content: center;
    margin: 28px 0 28px 0;
}

.Container ._Category .Detail {
    width: 85vw;
    display: flex;
    justify-content: left;
}

/******************************************************************/
/* 시연용 버튼 *****************************************************/
/******************************************************************/
._previewButton {
    margin: 0 30px 0 0;
    background-color: #ffffff;
    color: #ffffff;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

._previewButton:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #c5c5c5;
}

._reviewButton {
    margin-left: auto;
    background-color: #03507D;
    color: #03507D;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

._reviewButton:hover {
    background-color: #57c2ff;
    color: #212121;
    border: 1px solid #ffffff;
}
