.Voc_Dashboard {
    display: flex;
    width: 1320px;
    height: 36px;
    align-items: center;
    margin: 24px auto 24px auto;
    font-size: 16px;
    color: #25262b;
}

.Voc_Dashboard > div:nth-child(n + 2) {
    width: max-content;
    height: 28px;
    line-height: 28px;
    margin: 0 0 0 8px;
    padding: 0 12px;
    background-color: #efefee;
    border: solid 1px #c1c1c1;
    border-radius: 100px;
}

.Voc_Dashboard span {
    margin: 0 0 0 4px;
    color: #ff0000;
    font-weight: 600;
}

.Voc_Dashboard button {
    margin: 0 0 0 auto;
}

.Voc_Dashboard button:hover {
    background-color: #f3f3f3 !important;
}

/******************************************************************/
/* 질문 등록 시 선택하는 유형 그룹 **********************************/
/******************************************************************/
.Question_Type_Selector {
    width: 1320px;
    height: fit-content;
    margin: 0 auto 0 auto;
    border: solid 1px #c1c1c1;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.Question_Type_Selector > div:first-child > div {
    display: flex;
    width: 1224px;
    align-items: center;
}

/* 문의 유형을 선택하세요 */
.Question_Type_Selector > div:first-child > div:nth-child(1) {
    margin: 24px auto 0 auto;
    height: 28px;
    color: #25262b;
    font-size: 20px;
    font-weight: 600;
}

/* 라디오 버튼 + Inquiry No + 번호 조회 버튼 */
.Question_Type_Selector > div:first-child > div:nth-child(2) {
    height: 28px;
    margin: 12px auto 24px auto;
    color: #25262b;
    font-size: 16px;
}

.Question_Type_Selector
    > div:first-child
    > div:nth-child(2)
    > div:nth-child(even) {
    margin: 0 28px 0 0;
}

/* 번호 조회 버튼 */
.Question_Type_Selector
    > div:first-child
    > div:nth-child(2)
    > div:nth-child(7) {
    width: fit-content;
    margin: 0 28px 0 0;
}

.Question_Type_Selector input[type='radio'] {
    -webkit-appearance: none; /* 웹킷 브라우저에서 기본 스타일 제거 */
    -moz-appearance: none; /* 모질라 브라우저에서 기본 스타일 제거 */
    appearance: none; /* 기본 브라우저에서 기본 스타일 제거 */
    width: 18px;
    height: 18px;
    margin: 0 8px 0 0;
    border: 2px solid #8b8b8b; /* 체크되지 않았을 때의 테두리 색상 */
    border-radius: 50%;
    outline: none; /* focus 시에 나타나는 기본 스타일 제거 */
    cursor: pointer;
    float: left;
}

.Question_Type_Selector input[type='radio']:checked {
    background-color: #1748ac; /* 체크 시 내부 원으로 표시될 색상 */
    border: 3px solid white; /* 테두리가 아닌, 테두리와 원 사이의 색상 */
    box-shadow: 0 0 0 1.6px #1748ac; /* 테두리 */
    transition: 0.2s all linear;
}

.Question_Type_Selector
    > div:first-child
    > div:nth-child(2)
    > div:nth-child(n + 8) {
    margin: 0 28px 0 0;
}

/* Inquiry 검색 결과 */
.Question_Type_Selector
    > div:first-child
    > div:nth-child(2)
    > div:nth-child(8) {
    width: fit-content;
    height: 28px;
    line-height: 28px;
    font-weight: 600;
    color: #03507d;
}

/******************************************************************/
/* 질문 제목 및 내용 입력 그룹 **************************************/
/******************************************************************/
.Question_Input {
    width: 1320px;
    margin: 24px auto 0 auto;
}

/* 제목, 파일 업로드 버튼 */
.Question_Input > div:nth-child(1) {
    display: flex;
    margin: 0 auto;
}

/* 제목 */
.Question_Input > div:nth-child(1) > :nth-child(1) {
    width: 980px;
    margin: 0 0 24px 0;
}

/* 제목 길이 */
.Question_Input > div:nth-child(1) > :nth-child(2) {
    width: 24px;
    line-height: 36px;
    text-align: right;
    color: #8b8b8b;
    margin: 0 0 24px 0;
}

/* 30 */
.Question_Input > div:nth-child(1) > :nth-child(3) {
    width: 40px;
    line-height: 36px;
    text-align: left;
    color: #8b8b8b;
    margin: 0 0 24px 0;
}

/* 파일 업로드 버튼 */
.Question_Input > div:nth-child(1) > :nth-child(4) {
    margin: 0 12px;
}

.Question_Input > div:nth-child(1) > :nth-child(4) button:hover {
    background-color: #f3f3f3 !important;
}

/* 첨부파일명 길이 제한 */
.Question_Input > div:nth-child(1) > :nth-child(5) {
    width: 180px;
    height: 36px;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 질문 내용 입력 Text Editor */
.Question_Input > :nth-child(2) {
    margin: 0 0 24px 0;
}

.Question_Input > div:nth-child(3) > button {
    float: right;
    margin: 0 0 24px 24px;
}

/******************************************************************/
/* Inquiry 번호 조회 모달 컴포넌트 **********************************/
/******************************************************************/
.Question_Inquiry_Modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

/* Inquiry 조회 그룹 모달 위치 고정 */
.Question_Inquiry_Modal > div:nth-child(1) {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
}

/* Inquiry 조회 그룹 */
.Question_Inquiry_Modal > div:nth-child(1) {
    width: 65vw;
    height: 80vh;
    margin: 0 auto 0 auto;
    border: solid 1px #ffffff;
    border-radius: 12px;
    background-color: #ffffff;
}

/* 검색창, Inquiry 선택, 검색 버튼, 닫기 버튼 */
.Question_Inquiry_Modal > div:nth-child(1) > div:nth-child(1) {
    display: flex;
    width: 60vw;
    margin: 4vh auto 0 auto;
}

/* 닫기 버튼 호버 */
.Question_Inquiry_Modal
    > div:nth-child(1)
    > div:nth-child(1)
    > div
    > button:hover {
    background-color: #f8f8f8 !important;
    border-radius: 4px !important;
}

/* 닫기 버튼 */
.Question_Inquiry_Modal
    > div:nth-child(1)
    > div:nth-child(1)
    > div:nth-child(5) {
    margin: 0 0 0 auto;
}

/* 테이블 부모 */
.Question_Inquiry_Modal > div:nth-child(1) > div:nth-child(2) {
    max-width: 60vw;
    max-height: 62vh;
    margin: 4vh auto 0 auto;
    overflow: auto;
}

.Question_Inquiry_Modal table {
    width: 70vw;
    height: 100%;
    font-size: 16px;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}

.Question_Inquiry_Modal table td,
.Question_Inquiry_Modal table th {
    padding: 8px;
    border: 1px solid #c1c1c1;
}

.Question_Inquiry_Modal table td:nth-child(1):hover {
    color: blue;
    font-weight: 600;
}

.Question_Inquiry_Modal table th:nth-child(n) {
    width: 180px;
}

.Question_Inquiry_Modal thead {
    color: #8b8b8b;
}

.Question_Inquiry_Modal tbody tr:hover {
    cursor: pointer;
    background-color: #f8f8f8 !important;
}

/******************************************************************/
/* VoC 현황 정보 그룹 **********************************************/
/******************************************************************/
.Voc_Overview {
    width: 1320px;
    border: 1px solid #adb0b4;
    border-radius: 8px;
    margin: 0 auto 0 auto;
    padding: 16px 0;
}

.Voc_Overview > div:nth-child(1) {
    display: flex;
    justify-content: center;
    text-align: center;
}

.Voc_Overview > div:nth-child(1) svg {
    width: 48px;
    height: 48px;
}

.Voc_Overview > div:nth-child(1) > div {
    width: 100%;
}

.Voc_Overview > div:nth-child(2) {
    display: flex;
    justify-content: center;
    text-align: center;
}

.Voc_Overview > div:nth-child(2) > div {
    width: 100%;
}

.Voc_Overview > div:nth-child(2) > div span {
    font-size: 24px;
    color: #25262b;
}

/******************************************************************/
/* 질문 검색 기능(상단) ********************************************/
/******************************************************************/
.Question_Filter_Input_Container {
    width: 1320px;
    margin: 0 auto 20px auto;
}

/* 전체, 답변 완료, 답변 대기 그룹 */
.Question_Filter_Input_Container > div:first-child {
    display: flex;
    color: #25262b;
    font-size: 16px;
    font-weight: 600;
}

/* 그룹 구분선 */
.Question_Filter_Input_Container > div:nth-child(2) {
    display: flex;
}

.Question_Filter_Input_Container
    > div:nth-child(2)
    > div:nth-last-child(n + 2) {
    width: 108px;
}

.Selected hr {
    border: 1px solid #25262b;
    border-radius: 12px;
}

.NotSelected hr {
    border: 0.5px solid #c1c1c1;
}

/******************************************************************/
/* 질문 검색 기능(하단) ********************************************/
/******************************************************************/
.Question_Filter_Input {
    display: flex;
    width: 1320px;
    margin: 0 auto 24px auto;
    justify-content: space-around;
}

.Question_Filter_Input > button:hover,
.Question_Filter_Input > select:hover,
.Question_Filter_Input > div:hover {
    outline: solid 1px #64636a !important;
    border-radius: 8px !important;
}

.Question_Filter_Input select {
    text-align: center;
    width: 84px;
    height: 34px;
    border: solid 1px #c1c1c1;
    border-radius: 8px;
    font-weight: 600;
    color: #adb0b4;
    outline: none;
    cursor: pointer;
    background-color: #ffffff;
    -webkit-appearance: none; /* 크롬 화살표 없애기 */
    -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
    appearance: none; /* 화살표 없애기 */
}

.Question_Filter_Input input::placeholder {
    text-align: center;
    font-weight: 600;
    color: #adb0b4;
}

.Question_Filter_Input > div:last-child {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 412px;
    height: 32px;
    border: solid 1px #c1c1c1;
    border-radius: 8px;
}

/******************************************************************/
/* 질문 리스트 *****************************************************/
/******************************************************************/
.Question_List hr,
.Question_List_Container > div:first-child hr {
    width: 1320px;
    border: 0.5px solid #c1c1c1;
}

.Question_List_Container {
    margin: 0 0 10vh 0;
}

.Question_List {
    display: grid;
    grid-template-rows: 32px 24px 24px;
    width: 1320px;
    margin: 0 auto;
    align-items: center;
    cursor: pointer;
}

.Question_List > div:first-child {
    display: grid;
    align-items: center;
    grid-template-columns: 108px 84px 1fr;
    margin: 0 0 0 12px;
}

/* 문의 유형 */
.Question_List > div:first-child > div:first-child {
    width: 96px;
    height: 20px;
    line-height: 20px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #03507d;
    background-color: #03507d;
    border-radius: 100px;
    text-align: center;
}

/* 답변 대기, 답변 완료 */
.Question_List > div:first-child > div:nth-child(2) {
    width: 72px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 100px;
    text-align: center;
}

.Question_List > div:first-child > .Ready {
    color: #25262b;
    border: 1px solid #ffcecb;
    background-color: #ffcecb;
}

.Question_List > div:first-child > .Completed {
    color: #ffffff;
    border: 1px solid #c1c1c1;
    background-color: #c1c1c1;
}

/* 제목 */
.Question_List > div:first-child > div:nth-child(3) {
    color: #25262b;
    font-size: 16px;
    font-weight: 600;
}

/* 내용 */
.Question_List > div:nth-child(2) {
    color: #64636a;
    font-size: 14px;
    margin: 0 0 0 24px;
}

/* 질문 작성 날짜, 고객사명 */
.Question_List > div:nth-child(3) {
    color: #8b94a0;
    display: grid;
    grid-template-columns: 120px 1fr;
    font-size: 12px;
    margin: 0 0 0 24px;
}

/* 페이지 버튼 */
.Voc_Page_Button {
    width: 1320px;
    height: 24px;
    margin: 24px auto;
    display: flex;
    justify-content: center;
}

.Voc_Page_Button button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.Voc_Page_Button > div > button {
    width: max-content;
    margin: 0 0 0 12px;
}

/******************************************************************/
/* 답변 화면에서 보이는 질문 상세 그룹 *******************************/
/******************************************************************/
.Question_Viewer {
    width: 1320px;
    height: fit-content;
    margin: 0 auto 0 auto;
    border: solid 1px #c1c1c1;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.Question_Viewer > div:nth-child(-n + 2) {
    display: flex;
    width: 1224px;
    align-items: center;
}

.Question_Viewer > div:nth-child(3) {
    width: 1224px;
    align-items: center;
}

/* 문의 유형, 제목, 첨부파일 */
.Question_Viewer > div:nth-child(1) {
    margin: 24px auto 0 auto;
    height: 28px;
}

/* 문의 유형 */
.Question_Viewer > div:nth-child(1) > div:nth-child(1) {
    width: 104px;
    height: 24px;
    line-height: 24px;
    margin: 0 8px 0 0;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #03507d;
    background-color: #03507d;
    border-radius: 100px;
    text-align: center;
}

/* 제목 */
.Question_Viewer > div:nth-child(1) > div:nth-child(2) {
    width: max-content;
    height: 28px;
    margin: 0 8px 0 0;
    line-height: 28px;
    color: #25262b;
    font-size: 20px;
    font-weight: 600;
}

/* Inquiry 링크 */
.Question_Viewer > div:nth-child(1) > div:nth-child(3) {
    width: max-content;
    height: 28px;
    padding: 0 8px;
    line-height: 28px;
    color: blue;
    font-weight: 500;
    text-align: left;
    cursor: pointer;
}

.Question_Viewer > div:nth-child(1) > div:nth-child(3):hover {
    color: #25262b;
    border-radius: 10px;
    background-color: #f8f8f8;
}

/* 첨부파일 */
.Question_Viewer > div:nth-child(1) > div:nth-child(4) {
    width: 144px;
    height: 28px;
    line-height: 28px;
    margin: 0 0 0 auto;
    font-weight: 600;
    text-align: right;
}

/* 질문 작성 날짜, 고객사명 */
.Question_Viewer > div:nth-child(2) {
    margin: 12px auto 0 auto;
    height: 16px;
    font-size: 12px;
    color: #64636a;
}

/* 질문 작성 날짜 */
.Question_Viewer > div:nth-child(2) > div:nth-child(1) {
    width: 120px;
    margin: 0 8px 0 0;
}

/* 고객사명 */
.Question_Viewer > div:nth-child(2) > div:nth-child(2) {
    width: fit-content;
}

/* 내용 */
.Question_Viewer > div:nth-child(3) {
    margin: 12px auto 24px auto;
    font-size: 16px;
    color: #25262b;
}

/******************************************************************/
/* 답변 입력 그룹 **************************************************/
/******************************************************************/
.Answer_Input .Ready {
    width: 1320px;
    margin: 24px auto 0 auto;
}

/* 제목, 파일 업로드 버튼 */
.Answer_Input .Ready > div:nth-child(1) {
    display: flex;
    margin: 0 auto;
}

/* 제목 */
.Answer_Input .Ready > div:nth-child(1) > :nth-child(1) {
    width: 980px;
    margin: 0 0 24px 0;
}

/* 제목 길이 */
.Answer_Input .Ready > div:nth-child(1) > :nth-child(2) {
    width: 24px;
    line-height: 36px;
    text-align: right;
    color: #8b8b8b;
    margin: 0 0 24px 0;
}

/* 30 */
.Answer_Input .Ready > div:nth-child(1) > :nth-child(3) {
    width: 40px;
    line-height: 36px;
    text-align: left;
    color: #8b8b8b;
    margin: 0 0 24px 0;
}

/* 파일 업로드 버튼 */
.Answer_Input .Ready > div:nth-child(1) > :nth-child(4) {
    margin: 0 12px;
}

.Answer_Input .Ready > div:nth-child(1) > :nth-child(4) button:hover {
    background-color: #f3f3f3 !important;
}

/* 첨부파일명 길이 제한 */
.Answer_Input .Ready > div:nth-child(1) > :nth-child(5) {
    width: 180px;
    height: 36px;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 답변 내용 입력 Text Editor */
.Answer_Input .Ready > :nth-child(2) {
    margin: 0 0 24px 0;
}

/* 하단 버튼 */
.Answer_Input > div:not(.Ready):not(.Completed) {
    width: 1320px;
    margin: 24px auto 0 auto;
}

.Answer_Input .Completed {
    width: 1320px;
    margin: 0 auto 12px auto;
}

.Answer_Input .Completed > div:nth-child(1) {
    width: 1320px;
    height: fit-content;
    border: solid 1px #c1c1c1;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.Answer_Input .Completed > div:nth-child(1) > div:nth-child(-n + 2) {
    display: flex;
    width: 1224px;
    align-items: center;
}

.Answer_Input .Completed > div:nth-child(1) > div:nth-child(3) {
    width: 1224px;
    align-items: center;
}

/* 답변 완료 + 제목 + 첨부파일 */
.Answer_Input .Completed > div:nth-child(1) > div:nth-child(1) {
    margin: 24px auto 0 auto;
    height: 28px;
}

/* 답변 완료 마크 */
.Answer_Input
    .Completed
    > div:nth-child(1)
    > div:nth-child(1)
    > div:nth-child(1) {
    width: 104px;
    height: 24px;
    line-height: 24px;
    margin: 0 8px 0 0;
    color: #25262b;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #ffcecb;
    background-color: #ffcecb;
    border-radius: 100px;
    text-align: center;
}

/* 제목 */
.Answer_Input
    .Completed
    > div:nth-child(1)
    > div:nth-child(1)
    > div:nth-child(2) {
    width: 1072px;
    height: 28px;
    line-height: 28px;
    color: #25262b;
    font-size: 20px;
    font-weight: 600;
}

/* 첨부파일 */
.Answer_Input
    .Completed
    > div:nth-child(1)
    > div:nth-child(1)
    > div:nth-child(3) {
    width: 144px;
    height: 28px;
    line-height: 28px;
    margin: 0 0 0 auto;
    font-weight: 600;
    text-align: right;
}

/* 답변 작성 날짜 */
.Answer_Input .Completed > div:nth-child(1) > div:nth-child(2) {
    margin: 12px auto 0 auto;
    height: 16px;
    font-size: 12px;
    color: #64636a;
}

/* 내용 */
.Answer_Input .Completed > div:nth-child(1) > div:nth-child(3) {
    margin: 12px auto 24px auto;
    font-size: 16px;
    color: #25262b;
}

.Answer_Input .Completed > button {
    float: right;
    margin: 0 0 24px 24px;
}

/******************************************************************/
/* 협업 번호, 협업 담당자 검색 시 사용하는 검색창 *********************/
/******************************************************************/
.Col_Search_Input {
    width: 1320px;
    height: max-content;
    line-height: 28px;
    color: #25262b;
    font-size: 20px;
    font-weight: 600;
    margin: 24px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.Col_Search_Input select {
    text-align: center;
    width: 144px;
    height: 38px;
    cursor: pointer;
}

/******************************************************************/
/* 협업 목록 조회 테이블 ********************************************/
/******************************************************************/
.Col_Table {
    width: 1320px;
    margin: 24px auto 0 auto;
    font-size: 16px;
    text-align: center;
    border-collapse: collapse;
}

.Col_Table th:nth-child(1) {
    width: 10%;
}

.Col_Table th:nth-child(2) {
    width: 10%;
}

.Col_Table th:nth-child(3) {
    width: 10%;
}

.Col_Table th:nth-child(4) {
    width: 40%;
}

.Col_Table th:nth-child(5) {
    width: 15%;
}

.Col_Table th:nth-child(6) {
    width: 15%;
}

.Col_Table td,
.Col_Table th {
    padding: 8px;
    border: 1px solid #c1c1c1;
}

.Col_Table thead {
    color: #8b8b8b;
}

.Col_Table thead th:nth-child(2):hover,
.Col_Table thead th:nth-child(3):hover,
.Col_Table thead th:nth-child(n + 5):hover,
.Col_Table tbody tr:hover {
    cursor: pointer;
    background-color: #f8f8f8;
}

/* 협업 진행 현황 막대 */
.Col_Table tbody tr td:nth-child(5) > div {
    width: 80%;
    height: 32px;
    line-height: 32px;
    border-radius: 100px;
    margin: 0 auto;
}

.Col_Status {
    position: absolute;
    margin: 12px 0 0 0;
    width: 180px;
    height: max-content;
    color: #25262b;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Col_Status > div {
    width: 144px;
    line-height: 32px;
}

.Col_Status > div:nth-child(1) {
    margin: 12px auto 6px auto;
}

.Col_Status > div:nth-child(2) {
    margin: 6px auto 6px auto;
}

.Col_Status > div:nth-child(3) {
    margin: 6px auto 6px auto;
}

.Col_Status > div:nth-child(4) {
    margin: 6px auto 6px auto;
}

.Col_Status > div:nth-child(5) {
    margin: 6px auto 12px auto;
}

.Col_Status > div:nth-child(1):hover {
    margin: 12px auto 6px auto;
    border-radius: 100px;
    background-color: #f8f8f8;
}

.Col_Status > div:nth-child(2):hover {
    margin: 6px auto 6px auto;
    border-radius: 100px;
    background-color: #dbeddb;
}

.Col_Status > div:nth-child(3):hover {
    margin: 6px auto 6px auto;
    border-radius: 100px;
    background-color: #f5e0e9;
}

.Col_Status > div:nth-child(4):hover {
    margin: 6px auto 6px auto;
    border-radius: 100px;
    background-color: #d3e5ef;
}

.Col_Status > div:nth-child(5):hover {
    margin: 6px auto 12px auto;
    border-radius: 100px;
    background-color: #efefee;
}

/* 협업 시간순 정렬 */
.Col_Created_Date {
    position: absolute;
    margin: 12px 0 0 0;
    width: 180px;
    height: max-content;
    color: #25262b;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Col_Created_Date > div {
    width: 144px;
    line-height: 32px;
}

.Col_Created_Date > div:nth-child(1) {
    margin: 12px auto 6px auto;
}

.Col_Created_Date > div:nth-child(2) {
    margin: 6px auto 6px auto;
}

.Col_Created_Date > div:nth-child(3) {
    margin: 6px auto 6px auto;
}

.Col_Created_Date > div:nth-child(4) {
    margin: 6px auto 6px auto;
}

.Col_Created_Date > div:nth-child(5) {
    margin: 6px auto 12px auto;
}

.Col_Created_Date > div:nth-child(-n + 3):hover,
.Col_Created_Date > div:nth-child(1):hover {
    border-radius: 100px;
    background-color: #f8f8f8;
}

/* 나의 협업 모아보기 */
.Col_Manager {
    position: absolute;
    margin: 12px 0 0 0;
    width: 116px;
    height: max-content;
    color: #25262b;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Col_Manager > div {
    width: 76px;
    line-height: 32px;
}

.Col_Manager > div:nth-child(1) {
    margin: 12px auto 6px auto;
}

.Col_Manager > div:nth-child(2) {
    margin: 6px auto 12px auto;
}

.Col_Manager > div:nth-child(1):hover {
    margin: 12px auto 6px auto;
    border-radius: 100px;
    background-color: #f8f8f8;
}

.Col_Manager > div:nth-child(2):hover {
    margin: 6px auto 12px auto;
    border-radius: 100px;
    background-color: #f8f8f8;
}

/******************************************************************/
/* 협업 목록 조회 테이블 ********************************************/
/******************************************************************/
.Col_Res_Modal_Container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

/* 협업 상세 내역 Modal 그룹 모달 위치 고정 */
.Col_Res_Modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Col_Res_Modal {
    display: grid;
    width: 70vw;
    /* height: 85vh; */
    margin: 0 auto 0 auto;
    border: solid 1px #ffffff;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px 5px;
}

/* 담당자 이름, 사번, 부서 정보 */
.Col_Res_Modal > div:first-child {
    margin: 3vh 3vw 0 3vw;
    display: flex;
    font-size: 16px;
    color: #25262b;
}

.Col_Res_Modal > div:first-child > div:nth-child(n) {
    margin: 0 1vw 0 0;
}

.Col_Res_Modal > div:first-child > div:nth-child(n + 2) {
    font-weight: 600;
}

/* 협업 요청 사유 제목 */
.Col_Res_Modal > div:nth-child(2) {
    margin: 0 3vw 0 3vw;
    font-size: 24px;
    height: fit-content;
    font-weight: 600;
    color: #25262b;
}

/* 협업 요청 사유 내용 */
.Col_Res_Modal > div:nth-child(3) {
    height: 120px;
    color: #25262b;
    margin: 0 3vw 0 3vw;
    padding: 1vh 1vw 1vh 1vw;
    border: 1px solid #8b8b8b;
    border-radius: 12px;
    overflow-y: auto;
}

/* 고객사 첨부파일 + 첨부파일 */
.Col_Res_Modal > div:nth-child(4) {
    display: flex;
    margin: 0 0 0 auto;
}

/* 고객사 첨부파일 이름 길이 출력 제한 */
.Col_Res_Modal > div:nth-child(4) > div:nth-child(2) {
    margin: 0 3vw 0 1vw;
    max-width: 144px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 협업 요청 피드백 || 협업 거절 사유 */
.Col_Res_Modal > div:nth-child(5) {
    margin: 0 3vw 0 3vw;
    font-size: 24px;
    height: fit-content;
    font-weight: 600;
    color: #25262b;
}

/* 버튼 그룹 */
.Col_Res_Modal > div:nth-child(7) {
    margin: 0 3vw 0 3vw;
    float: right;
}

.Col_Res_Modal > div:nth-child(7) > div:first-child,
.Col_Res_Modal > div:nth-child(7) > div:nth-child(2) {
    margin: 0 1vw 0 0;
    float: left;
}

/* 품질 담당자 첨부파일 이름 길이 출력 제한 */
.Col_Res_Modal > div:nth-child(7) > div:nth-child(2) {
    max-width: 96px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Col_Res_Modal a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(0, 0, 164);
}

/******************************************************************/
/* 협업 요청 시 사용하는 요청 사유 작성란 ****************************/
/******************************************************************/
.Col_Req_Input {
    margin: 0 auto 0 auto;
}

.Col_Req_Input > div:nth-child(2) {
    width: 1320px;
    text-align: right;
    margin: 24px auto 24px auto;
}

/******************************************************************/
/* 협업 요청 시 사용하는 품질 담당자 조회 버튼 ***********************/
/******************************************************************/
.Col_Find_Manager_Button {
    width: 1320px;
    margin: 24px auto 24px auto;
}

.Col_Find_Manager_Button > div:nth-child(1) {
    display: flex;
    margin: 0 auto 0 auto;
}

.Col_Find_Manager_Button > div:nth-child(1) > div {
    margin: 0 0 0 24px;
    line-height: 38px;
}

/******************************************************************/
/* 협업 요청 시 사용하는 담당자 조회 모달 ****************************/
/******************************************************************/
.Col_Find_Manager_Modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

/* Inquiry 조회 그룹 모달 위치 고정 */
.Col_Find_Manager_Modal > div:nth-child(1) {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
}

/* Inquiry 조회 그룹 */
.Col_Find_Manager_Modal > div:nth-child(1) {
    width: 65vw;
    height: 80vh;
    margin: 0 auto 0 auto;
    border: solid 1px #ffffff;
    border-radius: 12px;
    background-color: #ffffff;
}

/* 검색창, 검색 버튼, 닫기 버튼 */
.Col_Find_Manager_Modal > div:nth-child(1) > div:nth-child(1) {
    display: flex;
    width: 60vw;
    margin: 4vh auto 0 auto;
}

/* 닫기 버튼 */
.Col_Find_Manager_Modal
    > div:nth-child(1)
    > div:nth-child(1)
    > div
    > button:hover {
    background-color: #c1c1c1 !important;
    border-radius: 4px !important;
}

.Col_Find_Manager_Modal
    > div:nth-child(1)
    > div:nth-child(1)
    > div:nth-child(4) {
    margin: 0 0 0 auto;
}

/* 테이블 부모 */
.Col_Find_Manager_Modal > div:nth-child(1) > div:nth-child(2) {
    max-width: 60vw;
    max-height: 62vh;
    margin: 4vh auto 0 auto;
    overflow: auto;
}

.Col_Find_Manager_Modal table {
    width: 70vw;
    height: 100%;
    font-size: 16px;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}

.Col_Find_Manager_Modal table td,
.Col_Find_Manager_Modal table th {
    padding: 8px;
    border: 1px solid #c1c1c1;
}

.Col_Find_Manager_Modal table th:nth-child(n) {
    width: 196px;
}

.Col_Find_Manager_Modal thead {
    color: #8b8b8b;
}

.Col_Find_Manager_Modal tbody tr:hover {
    cursor: pointer;
    background-color: #f3f3f3;
}

/******************************************************************/
/* 협업 요청 응답시 확인하는 협업 요청 사유 **************************/
/******************************************************************/
.Col_Req_Viewer > div:nth-child(1) {
    width: 1320px;
    height: fit-content;
    margin: 24px auto 0 auto;
    border: solid 1px #c1c1c1;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.Col_Req_Viewer > div:nth-child(1) > div:nth-child(-n + 2) {
    display: flex;
    width: 1224px;
    align-items: center;
}

.Col_Req_Viewer > div:nth-child(1) > div:nth-child(3) {
    width: 1224px;
    align-items: center;
}

.Col_Req_Viewer > div:nth-child(1) > div:nth-child(1) {
    margin: 24px auto 0 auto;
    height: 28px;
}

/* 협업 요청 사유 */
.Col_Req_Viewer > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    width: 960px;
    height: 28px;
    line-height: 28px;
    color: #25262b;
    font-size: 20px;
    font-weight: 600;
}

/* 협업 요청 날짜, 요청 담당자 정보 */
.Col_Req_Viewer > div:nth-child(1) > div:nth-child(2) {
    margin: 12px auto 0 auto;
    height: 16px;
    font-size: 12px;
    color: #64636a;
}

/* 협업 요청 날짜 */
.Col_Req_Viewer > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    width: 120px;
    margin: 0 8px 0 0;
}

/* 요청 담당자 정보 */
.Col_Req_Viewer > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
    width: fit-content;
    margin: 0 4px 0 0;
}

/* 내용 */
.Col_Req_Viewer > div:nth-child(1) > div:nth-child(3) {
    margin: 12px auto 24px auto;
    font-size: 16px;
    color: #25262b;
}

/* 협업 요청 내용 수정 버튼 */
.Col_Req_Viewer > div:nth-child(2) {
    width: 1320px;
    height: fit-content;
    margin: 24px auto 24px auto;
    text-align: right;
}

/******************************************************************/
/* 협업 요청 응답시 체크하는 협업 수락 여부 **************************/
/******************************************************************/
.Col_Accpted_Selector {
    width: 1320px;
    height: fit-content;
    margin: 24px auto 0 auto;
    border: solid 1px #c1c1c1;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.Col_Accpted_Selector > div {
    display: flex;
    width: 1224px;
    align-items: center;
}

/* 라디오 버튼 그룹 */
.Col_Accpted_Selector > div:nth-child(1) {
    height: 28px;
    margin: 24px auto 24px auto;
    color: #25262b;
    font-size: 16px;
}

.Col_Accpted_Selector > div:nth-child(1) > div:nth-child(even) {
    margin: 0 auto 0 0;
}

.Col_Accpted_Selector input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    margin: 0 8px 0 0;
    border: 2px solid #8b8b8b;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    float: left;
}

.Col_Accpted_Selector input[type='radio']:checked {
    background-color: #1748ac;
    border: 3px solid white;
    box-shadow: 0 0 0 1.6px #1748ac;
    transition: 0.2s all linear;
}

/******************************************************************/
/* 협업 요청 응답시 확인하는 협업 피드백 입력 폼 *********************/
/******************************************************************/
.Col_Res_Input {
    width: 1320px;
    margin: 24px auto 24px auto;
}

/* 피드백 입력 Text Editor */
.Col_Res_Input > div:nth-child(1) {
    margin: 0 0 24px 0;
}

/* 텍스트 에디터 하단 그룹 */
.Col_Res_Input > div:nth-child(2) {
    display: flex;
}

/* 파일 첨부 텍스트 */
.Col_Res_Input > div:nth-child(2) > div:nth-child(3) {
    margin: 0 0 0 12px;
    width: 180px;
    align-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 협업 수락 또는 협업 거절 버튼 */
.Col_Res_Input > div:nth-child(2) > div:nth-child(4) {
    margin: 0 0 0 auto;
}

/******************************************************************/
/* 협업 상세 조회 화면에서 보이는 협업 피드백 그룹 ********************/
/******************************************************************/
.Col_Res_Viewer > div:nth-child(1) {
    width: 1320px;
    height: fit-content;
    margin: 24px auto 0 auto;
    border: solid 1px #c1c1c1;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.Col_Res_Viewer > div:nth-child(1) > div:nth-child(-n + 2) {
    display: flex;
    width: 1224px;
    align-items: center;
}

.Col_Res_Viewer > div:nth-child(1) > div:nth-child(3) {
    width: 1224px;
    align-items: center;
}

.Col_Res_Viewer > div:nth-child(1) > div:nth-child(1) {
    margin: 24px auto 0 auto;
    height: 28px;
}

/* 거절, 수락, 완료 */
.Col_Res_Viewer > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    width: 104px;
    height: 26px;
    line-height: 26px;
    margin: 0 8px 0 0;
    color: #25262b;
    font-size: 12px;
    font-weight: 600;
    border-radius: 100px;
    text-align: center;
}

/* 협업 요청 사유 */
.Col_Res_Viewer > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
    width: max-content;
    height: 28px;
    margin: 0 8px 0 0;
    line-height: 28px;
    color: #25262b;
    font-size: 20px;
    font-weight: 600;
}

/* 첨부파일 */
.Col_Res_Viewer > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) {
    width: 144px;
    height: 28px;
    line-height: 28px;
    margin: 0 0 0 auto;
    font-weight: 600;
    text-align: right;
}

/* 협업 요청 날짜, 요청 담당자 정보 */
.Col_Res_Viewer > div:nth-child(1) > div:nth-child(2) {
    margin: 12px auto 0 auto;
    height: 16px;
    font-size: 12px;
    color: #64636a;
}

/* 협업 요청 날짜 */
.Col_Res_Viewer > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    width: 120px;
    margin: 0 8px 0 0;
}

/* 요청 담당자 정보 */
.Col_Res_Viewer > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
    width: fit-content;
    margin: 0 4px 0 0;
}

/* 내용 */
.Col_Res_Viewer > div:nth-child(1) > div:nth-child(3) {
    margin: 12px auto 24px auto;
    font-size: 16px;
    color: #25262b;
}

/* 피드백 수정, 협업 완료 버튼 */
.Col_Res_Viewer > div:nth-child(2) {
    width: 1320px;
    height: fit-content;
    margin: 24px auto 24px auto;
    text-align: right;
}
